POS_DOMAIN=pos.workflowtools.space
CORS_ORIGINS=https://pos.workflowtools.space,http://tauri.localhost
POSTGRES_DB=bimik_core_v2
POSTGRES_USER=bimik_cafe
POSTGRES_PASSWORD=generate-a-long-random-password
JWT_SECRET=generate-at-least-32-random-characters
TZ=Africa/Casablanca
BACKUP_S3_URI=s3://private-bimik-backups/production
BACKUP_AWS_ACCESS_KEY_ID=
BACKUP_AWS_SECRET_ACCESS_KEY=
BACKUP_AWS_REGION=eu-west-1
